- dob = Date.new(1987,5,04)
- now = Date.today
- age = now.year - dob.year - (dob.to_time.change(:year => now.year) > now ? 1 : 0)

.window.window--white-window{ draggable: "true" }
  = render "window_toolbar", title: "Bio"
  .window__content
    %section
      %article.column-50
        = image_tag "me.jpg"
      %article.column-50
        %p
          My name is Kellye Greene. I'm a Full-Stack Web Developer with a passion for interactive 
          media and front-end web development. I've worked at companies such as 
          = succeed "," do
            = link_to "Gust", "http://gust.com", target: "_blank"
          = succeed "," do
            = link_to "Conversation Agency", "http://convoagency.com", target: "_blank"
          and
          = succeed "," do
            = link_to "Resolute Digital", "http://www.resoluted.com", target: "_blank"
          = succeed "," do
            = link_to "Someecards", "http://www.someecards.com", target: "_blank"
          = succeed "," do
            = link_to "Popchips", "http://www.popchips.com", target: "_blank"
          = succeed "," do
            = link_to "dressbarn", "http://www.dressbarn.com", target: "_blank"
          = succeed "," do
            = link_to "NYU", "http://www.nyunews.com", target: "_blank"
          = succeed "," do
            = link_to "Aveeno", "http://www.aveeno.com", target: "_blank"
          = succeed "," do
            = link_to "CND", "http://www.cnd.com", target: "_blank"
          = succeed "," do
            = link_to "Publix", "http://www.publix.com", target: "_blank"
          = succeed "," do
            = link_to "Gorilla Glue", "http://www.gorillaglue.com", target: "_blank"
          = succeed "," do
            = link_to "Samsung", "http://www.samsung.com", target: "_blank"
          = succeed "," do
            = link_to "Merideth Publishing (Parents.com, Better Homes & Gardens, etc.)", "http://www.merideth.com", target: "_blank"
          and
          = succeed "." do
            = link_to "Fanfueled", "http://www.fanfueled.com", target: "_blank"
        %p
          I’ve been interested in building web applications since childhood. Inspired by the video game 
          = succeed "," do
            = link_to "Myst", "http://cyan.com/games/myst/", target: "_blank"
          I built my first project using Sierra Web Studio 1.0 (circa 1998). More recently, I have completed the 
          = succeed "," do
            = link_to "Flatiron School Full-Stack Web Development Immersive", "https://flatironschool.com/programs/nyc-web-developer-career-course/", target: "_blank"
          as well as 
          = link_to "General Assembly’s Back-End Web Development", "https://generalassemb.ly/education/back-end-web-development", target: "_blank"
          course. My initial educational background is in 
          = link_to "interactive multimedia", "http://www.catalogs.ohio.edu/preview_program.php?catoid=27&poid=6094&returnto=1488", target: "_blank"
          with Flash animation and actionscript. 
        %p
          By nature, I'm a curious person and a hard worker. I'm always looking for opportunities to learn, 
          experiment with, and polish my skills. I enjoy building digitally-driven, interactive artwork. In my free time, I do non-profit work in public health and safety, and donate technical services to individuals and non-profits. 
        %p
          For more information, check out my 
          = succeed "!" do
            = link_to "blog", "https://medium.com/@eclectusmedia", target: "_blank"
        %p
          To peek at some of my code, check out my 
          = succeed "!" do
            = link_to "github", "https://github.com/drakeltheryuujin", target: "_blank"
