- dob = Date.new(1987,5,04)
- now = Date.today
- age = now.year - dob.year - (dob.to_time.change(:year => now.year) > now ? 1 : 0)

.window.window--white-window{ draggable: "true" }
  = render "window_toolbar", title: "Bio"
  .window__content
    %section
      %article.column-50
        = image_tag "me.jpg"
      %article.column-50
        %p
          My name is Kellye Greene. I'm a 29 year old Full-Stack Web Developer with a passion for interactive media and front-end web development. I've worked at companies such as Gust, Conversation Agency, and Resolute Digital, with clients like Someecards, Popchips, dressbarn, Johnson & Johnson, NYU, Aveeno, CND, Publix, Gorilla Glue, Samsung, Merideth Publishing (Parents.com, Better Homes & Gardens, etc.) and Fanfueled. 
        %p
          I’ve been interested in building web applications since childhood. Inspired by the video game Myst, I built my first project using Sierra Web Studio 1.0 (circa 1998). More recently, I completed the Flatiron School Full-Stack Web Development Immersive as well as General Assembly’s Back-End Web Development course. My initial educational background is in interactive multimedia, with Flash animation and actionscript. 
        %p
          By nature, I'm a curious person and a hard worker. I'm always looking for opportunities to learn,  experiment with, and polish my skills. I enjoy building digitally-driven, interactive artwork. In my free time, I do non-profit work in public health and safety, and donate technical services to individuals and non-profits. 
        %p
          For more information, check out my blog!g
          = link_to "Gust", "http://gust.com"
          = link_to "Conversation Agency", "http://convoagency.com"
          and
          = link_to "Resolute Digital", "http://www.resoluted.com"
          \.
        %p
          By nature, I'm a curious person and a hard worker. I'm always looking for opportunities to learn,
          experiment with, and polish my skills. I do non-profit work with public health and safety in my free time.
